	<section class="container" id="component-1">
		<div class="row">
			<div class="col-12">

				<div class="card text-white bg-secondary mb-3 shadow-lg" id="console-1">
					<div class="card-header">Javascript console</div>
					<div class="card-body" id="console-item-1">
						<table class="table">

							<tbody>
								<tr data-ng-repeat="m in $ctrl.console track by $index">
									<td>{{m}}</td></tr>
								
							</tbody>
						</table>




					</div>
				</div>
				<div class="card text-white bg-secondary mb-3 shadow-lg" id="console-2">
					<div class="card-body">
						<form class="form-group" id="console-form" name="console-form" novalidate  autocomplete="off">
							<div class="input-group">

								<input type="text" class="form-control" maxlength="100" data-ng-model="console.inputtext">
								<div class="input-group-append">
									<button class="btn btn-outline-info ml-2" type="submit" data-ng-click="$ctrl.update(console)">Input</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
		</section>





